// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.modal{
  z-index: 99999 !important;
}

.apexcharts-legend-text{
  color: white !important;
}

@media (max-width: 420px) {
  .elementor-element-b14a97b{
    padding-top: 100px !important;
  }
}